<div class="container">
 <div align="center">
   <h1 class="cafe-table"><b>Sign up</b></h1>

  <%= form_with model: @user, url: user_registration_path do |f| %>
   <%= render "devise/shared/error_messages", resource: resource %>
    <div class="field mt-3">
      <i class="fa-solid fa-user"></i>
      <i class="cafe-table">User Name</i><br>
      <td><%= f.text_field :user_name %></td>
    </div>

    <div class="field mt-3">
      <i class="fa-solid fa-envelope"></i>
      <i class="cafe-table">Email</i><br>
      <%= f.email_field :email, autocomplete: "email" %>
    </div>

    <div class="field mt-3">
      <i class="fa-solid fa-key"></i>
      <i class="cafe-table">Password</i><br>
      <% if @minimum_password_length %>
      <em>(More than<%= @minimum_password_length %> letters)</em>
      <% end %><br />
      <%= f.password_field :password, autocomplete: "new-password" %>
    </div>

    <div class="field mt-3">
      <i class="fa-solid fa-key"></i>
      <i class="cafe-table">Password(confirmation)</i><br>
      <%= f.password_field :password_confirmation, autocomplete: "new-password" %>
    </div>

    <div class="about col-5 mt-3">
      <%= f.submit "Sign up" %>
    </div>
   <% end %>
   <div class="about mt-5">
     <h4>If already registered</h4>
     <h4>Pleae<%= link_to "Log in", new_user_session_path %>here.</h4n>
    </div>
  </div>
 </div>
</div>