<%= notice %>
<div class="container">
  <div class="row">
   <div class="col-md-5">
    <h1 class="cafe-post-list">
     <i class="fa-solid fa-mug-hot"></i>
     <b>
      Cafe Post List
     </b>
    </h1>
   </div>
   <div class="col-6">
    <div class="post">
     <%= link_to "+Cafe Post",new_cafe_path,class: 'btn btn-dark'  %>
    </div>
   </div>
 </div>
 <div class="row mt-3">
  <table class="table" >
   <thead class="cafe-table">
    <tr>
      <th>Image</th>
      <th>Store Name</th>
      <th>Location</th>
      <th>Posted date</th>
      <th>Comment</th>
      <th>♡</th>
    </tr>
   </thead>
   <tbody>
    <% @cafes.each do |cafe| %>
      <tr>
        <td><%= image_tag cafe.image, size: "100x100" %></td>
        <td class="pt-5"><%= link_to cafe.store_name,cafe_path(cafe.id) %></td>
        <td class="pt-5"><%= cafe.location %></td>
        <td class="pt-5"><%= cafe.created_at.strftime('%Y/%m/%d') %></td>
        <td class="pt-5"><%= link_to "#{cafe.cafe_comments.count} Comment", cafe_path(cafe.id) %></td>
        <td class="pt-5"><%= cafe.cafe_favorites.count %></td>
      </tr>
    <% end %>
   </tbody>

  </table>
 </div>
</div>