<div class="container">
 <div align="center">
  <h1 class="cafe-table">
    <b>
      Cafe Post
    </b>
  </h1>

  <div class="table table-hover table-inverse">
        <%= form_with model: @cafe,url: cafes_path do |f| %>
          <div class="form-group">
            <label class="cafe-table" for="image">Cafe Image</label><br>
            <%= f.file_field :image, accept: "image/*" %>
          </div>
          <div class="form-group">
            <label class="cafe-table" for="store_name">Store Name</label><br>
            <%= f.text_field :store_name %>
          </div>
          <div class="form-group">
            <label class="cafe-table" for="location">Location</label><br>
            <%= f.text_field :location %>
          </div>
          <div class="form-group">
            <label class="cafe-table" for="introduction">Introduction</label><br>
             <%= f.text_area :introduction %>
          </div>
          <div class="form-group">
            <label class="cafe-table" for="site_url">Site URL</label><br>
            <%= f.text_field :site_url %>
          </div>
          <div class="cafe-table form-group">
            <%= f.submit 'POST',class: "btn btn-success" %>
          </div>
        <% end %>
  </div>
 </div>
</div>