<div class="container px-5 px-sm-0">
  <h1 class="cafe-detail">
    <b>
      Cafe Detail
    </b>
  </h1>

  <div class="cafe-detail row px-5 px-sm-0">
    <div class="col-2">
     <% if @cafe.user != current_user %>
      <b><%= link_to @cafe.user.user_name,user_path(@cafe.user_id) %></b>'s Post
     <% else %>
      <b>Your Post</b>
     <% end %>
    </div>
    <div class="cafe-detail col-5">
      Posted date:<%= @cafe.created_at.strftime('%Y/%m/%d') %>
    </div>
  </div>

  <div class="row mb-3">
    <div class="col-md-5">
     <div class="form-group">
      <label for="image"></label><br>
        <%= image_tag @cafe.get_image,size: '400x300' %>
     </div>
    </div>

   <table class="col-md-6">
    <tr class="form-group">
      <td class="cafe-detail">Store Name</td>
      <td><b><%= @cafe.store_name %></b></td>
    </tr>
    <tr class="form-group">
      <td class="cafe-detail">Location</td>
      <td><b><%= @cafe.location %></b></td>
    </tr>
    <tr class="form-group">
      <td class="cafe-detail">Introduction</td>
      <td><b><%= @cafe.introduction %></b></td>
    </tr>
    <tr class="form-group">
      <td class="cafe-detail">Site URL</td>
      <td><b><%= link_to @cafe.site_url , @cafe.site_url %></b></td>
    </tr>
   </table>
   </div>

  <div class="cafe-detail row">
    <% if @cafe.favorited_by?(current_user) %>
    <p>
      <%= link_to cafe_cafe_favorites_path(@cafe), method: :delete do %>
        ♥<%= @cafe.cafe_favorites.count %>
      <% end %>
    </p>
    <% else %>
    <p>
      <%= link_to cafe_cafe_favorites_path(@cafe), method: :post do %>
        ♡<%= @cafe.cafe_favorites.count %>
      <% end %>
    </p>
    <% end %>
  </div>
  <div class="cafe-detail row mx-3">
    <% if @cafe.user == current_user %>
        <%= link_to "EDIT", edit_cafe_path(@cafe.id), class: "btn btn-info mr-2" %>
        <%= link_to "DELETE", destroy_cafe_path(@cafe.id), method: :delete,"data-confirm" => "本当に削除しますか？", class: "btn btn-danger mr-2" %>
    <% end %>
    <%= link_to "BACK", cafes_path, class: "btn btn-success" %>
  </div>

  <div class="cafe-detail row mt-4">
    <b>Comment Number：<%= @cafe.cafe_comments.count %></b>
  </div>
   <% if @error_comment.present? %>
    <div id="error_explanation">
      <h4><%= @error_comment.errors.count %>件のエラーが発生しました。</h4>
      <ul>
        <% @error_comment.errors.full_messages.each do |message| %>
        <li><%= message %></li>
        <% end %>
      </ul>
    </div>
   <% end %>
  <div class="cafe-detail row pb-2">
     <div class="col-3">
       <% if @cafe.user != current_user %>
        <%= form_with model: [@cafe, @cafe_comment] do |f| %>
          <%= f.text_area :comment, size: "20x5", placeholder: "Comment here" %>
          <%= f.submit "SEND",class: 'btn btn-secondary' %>
        <% end %>
       <% end %>
     </div>
     <table class="table col-9">
      <% @cafe.cafe_comments.each do |cafe_comment| %>
       <tr>
        <td><%= image_tag cafe_comment.user.get_profile_image(75,75) %></td>
        <td class="pt-4">
          <%= link_to cafe_comment.user.user_name, user_path(cafe_comment.user_id) %>
        </td>
        <td class="pt-4">
          <%= cafe_comment.created_at.strftime('%Y/%m/%d') %>
        </td>
        <td class="pt-4"><%= cafe_comment.comment %></td>
        <td>
          <% if cafe_comment.user == current_user %>
            <%= link_to "DELETE", cafe_cafe_comment_path(cafe_comment.cafe, cafe_comment), method: :delete, class: 'btn btn-danger' %>
          <% end %>
        </td>
       </tr>
      <% end %>
     </table>
  </div>
</div>