<div class="container">
  <div align="center">
  <h1 class="bean-edit">
    <b>
      Beans Edit
    </b>
  </h1>

  <table class="table table-hover table-inverse">
        <%= form_with model: @bean do |f| %>
          <div class="form-group">
            <label class="bean-edit" for="image">Beans Image</label><br>
            <%= f.file_field :image, accept: "image/*" %>
          </div>
          <div class="form-group">
            <label class="bean-edit" for="beans_name">Beans Name</label><br>
            <%= f.text_field :beans_name %>
          </div>
          <div class="form-group">
            <label class="bean-edit" for="loast_lebel">Roast Lebel</label><br>
              <%= f.radio_button:loast_lebel,Bean.loast_lebels.key(0) %>
              <%= f.label:loast_lebel,Bean.loast_lebels_i18n[:light] %>
              <%= f.radio_button:loast_lebel,Bean.loast_lebels.key(1) %>
              <%= f.label:loast_lebel,Bean.loast_lebels_i18n[:medium] %>
              <%= f.radio_button:loast_lebel,Bean.loast_lebels.key(2) %>
              <%= f.label:loast_lebel,Bean.loast_lebels_i18n[:dark] %>
          </div>
          <div class="form-group">
            <label class="bean-edit" for="origin">Origin</label><br>
            <%= f.text_field :origin %>
          </div>
          <div class="form-group">
            <label class="bean-edit" for="process">Process</label><br>
            <%= f.text_field :process %>
          </div>
          <div class="form-group">
            <label class="bean-edit" for="feedback">Feedback</label><br>
            <%= f.text_area :feedback,size: "20x4" %>
          </div>
          <div class="form-group">
            <label class="bean-edit" for="purchase">Purchase Site</label><br>
            <%= f.text_field :purchase %>
          </div>
          <div class="bean-edit form-group">
            <%= f.submit 'SUBMIT',class: "btn btn-success" %>
            <%= link_to 'BACK', bean_path(@bean.id), class: "btn btn-primary" %>
          </div>
        <% end %>
  </table>
 </div>
</div>